::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.email{
    color : rgb(50, 50, 139);
    font-size : 10px;
}
.all-msg{
    max-height: 500px;
    scroll-behavior: smooth;
    overflow: scroll;
}
.owner{
    color : rgba(0, 153, 255, 0.568);
    font-size: 14px;
}
.user{
    color: coral;
    font-size: 14px;
}
.fnt-sz{
    font-size: 13px;
}

@media screen and (max-height : 569px){
    .all-msg{
        max-height: 430px;
    }
}

@media screen and (min-height : 641px){
    .all-msg{
        max-height : 470px;
    }
}

