<div class="row">
  <div class="mt-4 mb-5 d-flex flex-column col-md-6 offset-md-3 offset-sm-1 col-sm-10 col-12">
    <div *ngFor="let n of notifications" class="my-1 py-2 px-2 text-custom bg" (click)="navigate(n)">
      {{n.content}}
    </div>
  </div>
</div>