<div class = "d-flex flex-md-row flex-column justify-content-around align-items-md-center header pl-md-2">
    
    <div class="logo ml-md-5 text-md-left text-center self-align-start">
        <a routerLink = '/home' class="logo">SocioPlay</a>
    </div>
    
    <div class="d-flex p-md-1 white text-center ml-md-auto ml-0" *ngIf = "userStatus | async">
        
        <div class="flex-fill mx-sm-3 mx-xs-3 menu_options">
            <a routerLink = '/home' routerLinkActive="green" class="header-link">
                <div class="d-none d-md-block">Home</div>
                <div class="d-md-none h-100 text-center">
                    <i-home class="d-md-none"></i-home>
                </div>
            </a>
        </div>
        
        <div class="flex-fill mx-sm-3 menu_options">
            <a routerLink = '/create_new_event' routerLinkActive="green" class="header-link">
                <div class="d-none d-md-block">New Match</div>
                <div class="d-md-none h-100  text-center">
                    <i-plus class="d-md-none"></i-plus>
                </div>
            </a>
        </div>

        <div class="flex-fill mx-sm-3 mx-xs-3 menu_options" >
            <a routerLink = '/my_matches' routerLinkActive="green" class="header-link">
                <div class="d-none d-md-block">My Matches</div>
                <div class="d-md-none h-100  text-center">
                    <i-star class="d-md-none"></i-star>
                </div>
            </a>
        </div>
        
        <div class="flex-fill mx-sm-3 menu_options">
            <a routerLink = '/notification' routerLinkActive="green" class="header-link">
                <div class="d-none d-md-block">Notifications</div>
                <div class="d-md-none h-100  text-center">
                    <i-bell class="d-md-none"></i-bell>
                </div>
            </a>
        </div>
        
        <div class="flex-fill mx-sm-3 menu_options">
            <a [routerLink] = "['/profile',email]" routerLinkActive="green" class="header-link" >
                <div class="d-none d-md-block">Profile</div>
                <div class="d-md-none h-100  text-center">
                    <i-user class="d-md-none"></i-user>
                </div>
            </a>
        </div>
    
    </div>
    
    <div  class="d-flex bgcolor p-md-4 p-2 white text-center ml-md-auto ml-0" *ngIf = "!(userStatus | async)">
        <a class="flex-fill mx-sm-3 mx-xs-3 menu_options" routerLink = '/login' routerLinkActive="green" >Home</a>
    </div>

</div>
