.header{
    background-color: #eeeded;
    color : #0098fd;
    box-shadow: 0px 5px 10px #A6A4A4;
    min-height: 80px;
}
.green{
    font-weight: 900 !important;
}
.logo{
    font-size: 30px;
    font-weight: 500;
    color : #0098fd;
    text-decoration: none;
}
.menu_options{
    cursor: pointer;
}
.menu_options :hover{
    color: #0662a0;
}
.header-link{
    text-decoration: none;
    color: #0098fd;
    font-weight: 300;
}

@media screen and (min-width : 0px) and (max-width : 767px){   
    .logo{
        font-size: 25px;
    }
    .header-link{
        color: #555;
        font-size: 13px;
        font-weight: 500;
    }
    .dropdown-toggle::after {
        display:none;
    }
}