.footer{
    background: rgb(240, 236, 236);
    color : rgb(156, 151, 151);
    font-size: 14px;
}
.link{
    text-decoration: none;
    color : inherit;
}
@media screen and (max-width : 425px) {
    .footer{
        background: rgb(240, 236, 236);
        color : rgb(156, 151, 151);
        font-size: 10px;
    }
}