<div class="mt-auto footer d-flex flex-row px-md-3">
  <span class="flex-fill text-center"><a routerLink="/termsandconditions" class="link">Terms And Conditions</a></span>
  <span class="flex-fill text-center"><a routerLink="/privacypolicy"  class="link">Privacy Policy</a></span>
  <span class="flex-fill text-center">Blog</span>
  <span class="flex-fill text-center"><a routerLink="/contact" class="link">Contact Us</a></span>
  <span class="flex-fill text-center">About Us</span>
</div>