<app-header></app-header>
<div class="container mt-5 pt-5">
  <div *ngIf="!err&&!disp" class="d-flex justify-content-center align-items-center">
    <mat-spinner color="#0098fd"></mat-spinner>
  </div>
  <div class="error" *ngIf="err&&!disp">{{err}}</div>
  <div *ngIf="disp" class="text-success">{{disp}}</div>
</div>
