<div class="row">
  <div class="mt-3 mt-md-4 col-md-6 mb-5 offset-md-3 offset-sm-2 col-sm-8 col-12">

      <form novalidate [formGroup]="eventForm"  class="form-group mt-3 d-flex flex-column ">
      
          <!-- error -->
      
          <p *ngIf="err" class="text-danger">{{err}}</p>
      
          <!-- activity -->
          
          <label for = "activity" class=" mb-3 ml-0"><h5>Sport</h5></label>
          <div>
            <input id= "activity" placeholder={{placeholder.sport}} type="text" disabled class = "form-control col-md-6 col-sm-8 col-10 "/>
          </div>
      
      
          <!-- location -->
      
          <label for = "address" class="mb-3 ml-0 mt-3"><h5>Address</h5></label>
          <div id = "address" class="d-flex flex-column mb-sm-2">
            <input placeholder={{placeholder.address}} formControlName = 'address' class="form-control col-md-6 col-sm-8 col-10"/>
          </div>
      
          <label for = "date" ><h5>Date And Time</h5> </label>
          <div id = "date" class=" col-md-8 col-sm-8 col-10 d-flex flex-md-row flex-column pl-0 mb-sm-2">  
          
            <!-- calender !-->
        
            <div class="input-group flex-fill m-1">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName = 'date' ngbDatepicker #d="ngbDatepicker" [minDate]="minDate">
              <div class="input-group-append">
                <button class="btn" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar" ></i>
                </button>
              </div>
            </div>
      
            <!-- time -->
        
            <div class="flex-fill m-1">
              <ngb-timepicker formControlName="time" [spinners]="spinners" [meridian]="true"></ngb-timepicker>
            </div>
      
          </div>
          
          <!-- contact number -->
          <label for = "activity" class=" mb-3 ml-0"><h5>Contact Number (optional)</h5></label>
          <div>
            <input id= "activity" placeholder={{placeholder.contact}} type="tel" formControlName = 'contact' class = "form-control col-md-6 col-sm-8 col-10 "/>
          </div>
      
          <!-- Note -->
        
          <label for="des" class=" mb-3 ml-0"><h5>Note</h5></label>
          <div class="col-md-6 col-sm-8 col-10  pl-0">
            <textarea formControlName = "note" id = "des" placeholder={{placeholder.note}} class="form-control" rows="3"></textarea>
          </div>
          <div class="pt-3">
            <button class="btn btn-custom" (click)="onEventSubmit();">Save Changes</button>
          </div>
        </form>
    
  </div>
</div> 
  