<div class="row">
  <div class="mt-3 mt-md-4 col-md-6 mb-5 offset-md-3 offset-sm-2 col-sm-8 col-12">

    <form novalidate [formGroup]="eventForm" (ngSubmit)="onEventSubmit()" class="form-group mt-3 d-flex flex-column ">
      
      <!-- error -->

      <p *ngIf="err" class="text-danger">{{err}}</p>

      <!-- activity -->
      
      <label for = "activity" class="mb-0 mt-1"><span class="h6 mb-0">Which Sport will you play</span></label>
      <div>
        <input id= "activity" placeholder="Sport" type="text" formControlName = 'sport' [ngbTypeahead]="search" class = "form-control form-control-sm col-md-8 col-sm-8 col-10 mb-1"/>
      </div>


      <!-- location -->

      <label for = "address" class="mb-0 mt-1"><span class="h6 mb-0">Where are you planning to play </span></label>
      <div id = "address" class="d-flex flex-column">
        <input placeholder="address" formControlName = 'address' class="form-control form-control-sm col-md-8 col-sm-8 col-10 mb-1"/>
      </div>

      <!-- date and time -->

      <label for = "date" class="mb-0 mt-1"><span class="h6 mb-0">Date And Time</span></label>
      <div id = "date" class="mb-1 d-flex flex-md-row flex-column align-items-md-center">  
        <div>
          <ngb-datepicker #dp formControlName = 'date' (navigate)="date = $event.next"></ngb-datepicker>
        </div>
        <div class="ml-md-3 mt-2">
          <ngb-timepicker formControlName="time" [spinners]="spinners" [meridian]="true"></ngb-timepicker>
        </div>

      </div>

      <!-- Note -->
    
      <label for="des" class="mb-0 mt-1"><span class="h6 mb-0">Note</span></label>
      <div>
        <textarea formControlName = "note" id = "des" placeholder="Sports Gear (If Any)" class="form-control form-control-sm col-md-8 col-sm-8 col-10 mb-1" rows="2"></textarea>
      </div>
      
      <!-- contact number -->
      
      <label for = "activity" class="mb-0 m-1"><span class="h6 mb-0">Contact Number (optional)</span></label>
      <div>
        <input id= "activity" placeholder="cell-phone number" type="tel" formControlName = 'contact' class = "form-control form-control-sm col-md-8 col-sm-8 col-10 mb-1"/>
      </div>

      <!-- invites -->

      <!-- <label for="invite" class="mb-0 mt-1"><span class="h6 mb-0">Invite Friends</span></label>
      <div>
        <div class="m-1">
          <span *ngFor="let inv of invites" class="badge badge-dark badge-pill p-2">{{inv}}<span class="badge badge-light rounded-circle ml-2" (click)="cancel(inv)"><i class="fas fa-times"></i></span></span>
        </div>
        <input #inviteinput id = "invite" placeholder="Enter Name or Email" type="text" [ngbTypeahead]="invite" (selectItem)="selected($event)" class = "form-control form-control-sm col-md-8 col-sm-8 col-10 mb-1"/>
      </div> -->

      <div class="pt-3">
        <button class="btn btn-custom col-md-8 col-sm-8 col-10"><span class="h3">Create</span></button>
      </div>

    </form>

  </div> 
</div>