<div class="row">
  <div class="mt-5 col-md-6 offset-md-3 offset-sm-1 col-sm-10 col-12">
    <div class="d-flex flex-column" *ngIf="!err && !disp">
      <h5>Change Password </h5>
      <form novalidate [formGroup]="reset" class="form-group d-flex flex-column col-10 pl-0" (ngSubmit)="onSubmit()">
        <div class="mt-3 col-8 pl-0">
          <div *ngIf="err1" class="text-danger">{{err1}}</div>
          <label for="pwd">Current Password</label>
          <input id="pwd" formControlName="curnt_pwd" class="form-control">
        </div>
        <div class="mt-3 col-8 pl-0">
          <div *ngIf="err2" class="text-danger">{{err2}}</div>
          <label for="pwd">New Password</label>
          <input id="pwd" formControlName="pwd" class="form-control">
        </div>
        <div class="mt-3 col-8 pl-0">
          <div *ngIf="err3" class="text-danger">{{err3}}</div>
          <label for="cnfrm_pwd">Confirm Password</label>
          <input id="cnfrm_pwd" formControlName="cnfrm_pwd" class="form-control">
        </div>
        <div  class="mt-3">
          <button type="submit" class="btn btn-custom">Reset</button>
        </div>
      </form>
    </div>
    <div *ngIf="disp">
      <p class="text-success">{{disp}}</p>
    </div>
    <div *ngIf="err">
      <p class="text-danger">{{err}}</p>
    </div>
  </div>
</div>