<div class="row">
  <div class="mt-4 mb-1 mb-md-5 col-md-8 offset-md-2 offset-sm-1 col-sm-10 col-12">
    <div *ngIf = 'isLoading'>
      <mat-spinner color="#0098fd"></mat-spinner> 
    </div>
    <div *ngIf = '!isLoading' class="d-flex flex-column">
      <div *ngIf="err.length == 0 && feeds.length != 0" class="order-1 flex-fill">
        <div *ngFor = 'let feed of feeds' class="d-flex flex-column card m-1 mb-2 m-md-4 round-border ">
          <div class="media">
            <div class="m-0 p-0">
              <img src={{feed.image}} class="Generic placeholder image img-fluid max-height rounded-left" alt={{feed.sport}}>
            </div>
            <div class="media-body text mt-auto mb-auto pl-3 ">
              <div (click)="event(feed._id)" class="align-item-md-start align-item-center cursor">
                <div class="py-1 heading"> Will Like To Play {{feed.sport}}</div>
                <div class="pb-1 special">{{feed.date_time | date : 'medium'}}</div>
                <div class="pb-1 pr-1">At <span class="special">{{feed.address}}</span></div>
                <p class="pr-1 pb-1 mb-0" *ngIf="feed.note.length !== 0">P.S :- {{feed.note}}</p>
                <div class="d-flex flex-row">
                  <div *ngFor="let p of feed.participants | slice:0:4" class="m-1">
                    <img src={{p.profile_pic}} width="30px" height="30px" class="rounded-circle">
                  </div>
                </div>
                <div *ngIf="feed.participants.length-4>0">+ {{feed.participants.length-4}} people are coming</div>
                <div class="mt-2 pb-1">
                  <button *ngIf="feed.show" class="btn btn-custom text wid"> Ok Lets Play !</button>
                  <button *ngIf="!feed.show" class="btn btn-custom text wid"> View </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="feeds.length==0" class="text-info  order-1 m-1 align-middle text-center mt-5">
          <i class="far fa-frown"></i> No upcoming matches found.<br>
          You can always create one,<br>
          And invite You Friends.<br>
      </div>
      <div *ngIf="err" class="error">
        {{err}}
      </div>
      <div *ngIf="err.length == 0" class=" order-0 mr-auto m-1 m-md-4">
        <form class="d-flex flex-column justify-content-start">
          <div class="input-group">
            <input placeholder="search by sport" type="text" [formControl]="sport" [ngbTypeahead]="search" class="form-control col-md-5 rounded-left">
            <button (click)="feed()" type="button" class="btn input-group-append rounded-right"><i class="fas fa-times text-danger"></i></button>
            <button (click)="filter()" class="btn btn-trans input-group-append"><i class="fas fa-search text-success"></i></button>
          </div>
          <!-- <div class="form-check d-flex flex-md-row flex-column mb-1">
            <input type="checkbox" class="form-check-input " id="exampleCheck1" (click)="getloc()" [checked]="check">
            <label class="form-check-label" for="exampleCheck1">Use my location</label>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>