.link{
    text-decoration:  "none";
}
.text{
    font-size : 14px;
    font-weight: 400;
}
.max-height {
    max-height: 200px;
}

.round-border {
    border-radius: 10px;
}

.cursor{
    cursor: pointer;
}

.btn-trans{
    background-color: transparent;
}

.bd{
    border-bottom-left-radius: inherit;
}
.heading{
    font-size : 17px;
    font-weight: 600;
}
.special{
    font-weight: 550;
    font-style: italic;
}
.wid{
    width : 150px;
}
@media screen and (min-width : 0px) and (max-width : 767px){
    .text{
        font-size : 12px;
    }
    .heading{
        font-size: 13px;
        font-weight: 600;
    }
}