::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.desktop-msg{
    position: fixed;
    bottom : 40px;
    right: 5%;
    max-height : 400px;
    width : 300px;
    max-width: 300px;
}

.all-msg{
    max-height: 360px;
    scroll-behavior: smooth;
    overflow: scroll;
}

.email{
    color : rgb(50, 50, 139);
    font-size : 10px;
}

.blue{
    background-color: rgb(210, 221, 235);
    max-width : 25%;
    min-width: 20%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.min-h{
    min-height: 350px;
}

.owner{
    color : rgba(0, 153, 255, 0.568);
}

.user{
    color: coral;
}

.fnt-sz{
    font-size: 13px;
}

.color{
    background-color:  rgb(210, 221, 235);
}

@media screen and (max-width : 972px) and (min-width: 768px){
    .blue {
        min-width: 23%;
    }
    .desktop-msg {
        right: 23%;
    }
}