<app-header *ngIf="(userStatus|async)"></app-header>
<router-outlet></router-outlet>
<div  *ngIf="show&&(userStatus | async)" class="desktop-msg d-none d-md-block ml-auto">
    <div class="card mt-auto">
        <div class="card-header mt-auto color">
            <span class="ml-auto mr-1"><i class="fas fa-times text-danger" (click)="close()"></i></span>
        </div>
        <div class="card-body  all-msg mb-0 pb-1 min-h" #messenger>
            <div *ngFor="let msg of messages">
                <div *ngIf="email == msg.email" class="text-right  d-flex flex-column">
                    <div class="email text-right">{{msg.name ? msg.name : msg.email}}</div>
                    <div class="text-right owner fnt-sz">{{msg.content}}</div>
                </div>
                <div *ngIf="email !== msg.email" class="text-left d-flex flex-column">
                    <div class="email text-left">{{msg.name ? msg.name : msg.email}}</div>
                    <div class="text-left user fnt-sz">{{msg.content}}</div>
                </div>
            </div>
        </div>
        <form class="mt-auto input-group">
            <input type="text" placeholder="type something" [formControl]="msg" class="form-control">
            <button class="btn input-group-append" (click)="send()"><i class="fas fa-arrow-right"></i></button>
        </form>
    </div>
</div>