<app-header></app-header>
<div class="container mt-5 pt-5">
  <div class="error" *ngIf="err&&!disp">{{err}}</div>
  <div class="d-flex flex-column col-lg-7 col-md-9 col-sm-10 form-group" *ngIf="!disp">
    <div class="p-3">
      <label for="email" class="p-2"><h5>Please enter your email to recover your account</h5></label>
      <input id="email" class="form-control" [formControl]="email" placeholder="email">
    </div>
    <button class="btn btn-primary px-4 align-self-center" type="submit" (click)="onSubmit()">Recover My Account</button>
  </div>
  <div *ngIf="disp" class="text-success">{{disp}}</div>
</div>
