<div class="row">
  <div class="mt-4 mb-1 mb-md-5 col-md-8 offset-md-2 offset-sm-1 col-sm-10 col-12">
    <div *ngIf = 'loading'>
      <mat-spinner color="#0098fd"></mat-spinner> 
    </div>
    <div *ngIf = '!loading' class="d-flex flex-column">
      <div *ngIf="err.length == 0 && events.length != 0" class="flex-fill">
        <div *ngFor = 'let event of events' class="d-flex flex-column card m-1 mb-2 m-md-4 round-border ">
          <div class="media">
            <div class="m-0 p-0">
              <img src={{event.image}} class="Generic placeholder image img-fluid max-height rounded-left" alt={{event.sport}}>
            </div>
            <div class="media-body text mt-auto mb-auto pl-3 ">
              <div class="align-item-md-start align-item-center cursor">
                <div class="py-1 heading">{{event.sport}}</div>
                <div class="pb-1 special">{{event.date_time | date : 'medium'}}</div>
                <div class="pb-1 pr-1"><span class="special">{{event.address}}</span></div>
                <div class="mt-2 pb-1">
                  <button class="btn btn-custom text wid mr-1" (click)="navigate(event._id)">Info</button>
                  <button (click)="msg(event._id)" class="btn btn-custom text wid ml-md-1 mt-1 d-md-none">Message</button>
                  <button (click)="mesag(event._id)" class="btn btn-custom text wid ml-1 d-none d-md-inline">Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="events.length==0" class="mt-5 h-100 w-100 text-center">
        <span>What would you like to play today ?</span>
        <span>Join a match or create one of your own.</span>
      </div>
      <div *ngIf="err" class="error">
        {{err}}
      </div>
    </div>
  </div>
</div>