<app-header></app-header>
<div class="container mt-5">
    <div class="d-flex flex-column col-lg-8 col-md-9 col-10" *ngIf="!err && !disp">
          <h4>Reset password</h4>
          <form novalidate [formGroup]="reset" class="form-group d-flex flex-column" (ngSubmit)="onSubmit()">
            <div class="p-3">
              <label for="pwd">New Password</label>
              <input id="pwd" formControlName="pwd" class="form-control" type="password" placeholder="New Password">
            </div>
            <div class="p-3">
              <label for="cnfrm_pwd">Confirm Password</label>
              <input id="cnfrm_pwd" formControlName="cnfrm_pwd" class="form-control" type="password" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary px-4 align-self-center">Reset</button>
          </form>  
    </div>
    <div *ngIf="disp">
      <p class="text-success">{{disp}}</p>
      <p><a routerLink="/login">Click here to login</a></p>
    </div>
    <div *ngIf="err">
      <p class="text-danger">{{err}}</p>
      <p><a routerLink="/login">click here to return to home</a></p>
    </div>
  </div>