.fiixed{
    position: fixed;
}
.user{
    font-size: 10px;
}
.user1{
    color: coral;
}
.other{
    font-size : 10px;
}
.other1{
    color: aqua;
}
.height{
    height: auto;
}
.chat{
    overflow-y: scroll;
    max-height : 400px;
}
.bottom{
    position: fixed;
    bottom: 5px;
}

.heading {
    color : #000000;
    size : 22px;
}
.text{
    color : #777777;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.name{
    font-size: 10px;
    padding-top: 5px;
}

.width{
    max-width: 45px;
}

.button{
    height : 40px;
    width : 110px;
}


.forgot_links{
    color : #0a598d;
    font-size:  12px;
    cursor: pointer;
}

.max-height {
    max-height: 500px;
}

.dropdown-toggle::after {
    display:none;
}

.btn-trans{
    background-color: transparent;
}

.space{
    letter-spacing: 2px;
}

.large{
    width: 200px;
}

.wid{
    width: 150px;
}

@media screen and (min-width : 0px) and (max-width : 767px){
    
.chat{
    overflow: scroll;
    scroll-behavior: smooth;
    max-height : 300px;
}
} 