<div class="row">
  <div class="mt-md-3 mt-1 col-md-8 offset-md-2 offset-sm-1 col-sm-10 col-12">
    <p class="topHeading align-self-md-start align-self-center mb-2">{{event.sport}}</p>
    <mat-spinner color="#0098fd" color="#0098fd" *ngIf="isLoading" class="col-6 offset-4" [color]="'#000'"></mat-spinner>
    <div *ngIf="!isLoading">      
      <div *ngIf="err">
        {{err}}
      </div>
      <div *ngIf="err.length == 0">
        <div class="card flex-fill mr-md-2">
          <div class="card-header">
              <span class="h6">Location And Time</span>
          </div>
          <div class="card-body p-0">
            <div class="media">
              <div class="m-0 p-0 d-none d-md-block">
                <img src={{event.image}} alt={{event.sport}} class="placeholder generic image img-fluid max-height">
              </div>
              <div class="media-body mt-auto mb-auto pl-md-5 pl-3">
                <div>
                  <p class="heading pb-1 mb-1">Date and Time</p>
                  <p class="text" >{{event.date_time | date:'medium'}}</p>
                </div>
                <div>
                  <p class="heading pb-1 mb-1">Location</p>
                  <p class="text" >{{event.address}}</p>
                </div>
                <div *ngIf="event.contact">
                  <p>Contact (use for queries related to match)</p>
                  <p class="text">{{event.contact}}</p>
                </div>
                <div *ngIf="event.note">
                  <p class="heading pb-1 mb-1">Note</p>
                  <p class="text">{{event.note}}</p>
                </div>
                <div class="mb-2">
                  <p class="heading pb-1 mb-1">Participants</p>
                  <div class="d-flex flex-wrap">
                    <div *ngFor=" let p of event.participants" class="text width mx-1 pointer" [routerLink] = "['/profile', p.email]">
                      <div class="d-flex flex-row justify-content-center">
                        <img src={{p.profile_pic}} width="40px" height="40px" class="rounded-circle ml-auto mr-auto">
                      </div>  
                      <p class="name text-center">
                        {{p.name}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <button (click)="join();" *ngIf="show&&disp" class="btn btn-custom large"><span class="h4 space">JOIN</span></button>  
                  <!-- <div>
                      <share-button *ngIf="!show&&disp" button="facebook" theme="modern-dark" [showText]="true" text="Share" [icon]="fbIcon" [size]="0"></share-button>
                  </div> -->
                  <button (click)="msg(event._id)" *ngIf="!show&&disp" class="wid btn btn-custom d-md-none">Message</button>
                  <button (click)="mesag(event._id)" *ngIf="!show&&disp" class=" wid d-none d-md-block btn btn-custom">Message</button>
                  <button class="ml-2 btn btn-custom wid" *ngIf="event.organizer == email" (click)="edit();">Edit</button>
                  <button class="ml-2 btn btn-danger wid " *ngIf="event.organizer !== email" (click)="leave();">Leave</button>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Registration Modal -->

  