::-webkit-input-placeholder { /* Chrome */
    color: #999;
    font-size: 14;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #999;
    font-size: 14;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    font-size: 14;
    font-style: italic;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #999;
    font-size: 14;
    font-style: italic;
    opacity: 1;
}
input{
    color : #000;
    font-weight: 400;
}