<div class="row">
  <div class="mt-4 mb-5 col-md-8 offset-md-2 offset-sm-1 col-sm-10 col-12">  
    <div class="d-flex flex-sm-row flex-column">
      <div *ngIf="err" class="error">{{err}}</div>
      <div class="p-sm-5 p-3 d-flex flex-column align-items-center align-items-sm-start">
        <div>
          <img src={{pic}} class="rounded-circle" width="200px" height="200px">
        </div>
        <label for="update" class="p-2 btn btn-info rounded mt-2 align-self-center">Change profile picture</label>
        <input type="file" name="update" id="update" (change)="handleFileInput($event.target.files)" class="form-conrol" hidden accept="image/*">
      </div>
      <div class="pt-sm-5 ">
          <form class="col-12  d-flex flex-column"  novalidate [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="error">
              <div *ngIf = 'formErr'>{{formErr}}</div>
            </div>
            <div class="form-group d-flex flex=-row">
              <div>
                <label for="name">First Name</label>
                <input id = "fname" type = "text" class="form-control" formControlName = 'first_name' placeholder={{profile.first_name}}>
              </div>
              <div>
                <label for="name">Last Name</label>
                <input id = "lname" type = "text" class="form-control" formControlName = 'last_name' placeholder={{profile.last_name}}>
              </div>
            </div>
            <div class="form-group">
              <label for="fav_sport">Favourite Sport</label>
              <input type = "text" class="form-control" id = "fav_sport" formControlName = 'favourite_sport' placeholder={{profile.favourite_sport}}>
            </div>
            <div class="form-group">
              <label for="location">Where do you live</label>
              <input type = "text" id = "location" class="form-control" formControlName = 'location' placeholder={{profile.location}}>
            </div>
            <!-- <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender" formControlName="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>
            <div>
              <label for ="dp">Date of Birth</label>
              <div class="input-group">
                <input class="form-control" name="dp" placeholder="yyyy/mm/dd" formControlName = 'date_of_birth' ngbDatepicker #d="ngbDatepicker" [minDate]="{year : 1920 , month : 1 , day : 1}">
                <div class="input-group-append">
                  <button class="btn" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" ></i>
                  </button>
                </div>
              </div>
            </div> -->
            <div class=" mt-3">
              <button class="btn btn-custom">Update</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>