.link{
    text-decoration: none;
    cursor: pointer;
}
.bottom{
    position: fixed;
    bottom: 5px;
}

.max-height {
    max-height: 150px;
}
.heading{
    font-size : 17px;
    font-weight: 600;
}
.special{
    font-weight: 600;
    font-style: italic;
}

.text{
    font-size : 15px;
    font-weight: 500;
}

@media screen and (min-width : 0px) and (max-width : 767px){
    .heading{
        font-size: 13px;
        font-weight: 600;
    }
    .text{
        font-size : 12px;
    }
}