<div class="row">
  <div class="mt-4 mb-5 d-flex flex-column col-md-8 offset-md-2 offset-sm-1 col-sm-10 col-12">
    <mat-spinner color="#0098fd" *ngIf="isLoading" class="align-self-center"></mat-spinner>
    <div *ngIf="!isLoading" class="d-flex flex-column">
      <div *ngIf="err" class="error p-3">
        {{err}}
      </div>
      <div *ngIf="!err">
        <div class="d-flex flex-column flex-sm-row w-100">
          
          <div class="d-flex p-3 pl-sm-0 pb-sm-3 order-1 order-sm-0 flex-row justify-content-center">
            <img src={{profile.profile_pic}} class="rounded-circle" width="200px" height="200px">
          </div>  
          
          <div class="p-2 p-md-5 m-2 pb-3 order-2 order-sm-1 text-center text-sm-left txt">
            <p>{{profile.first_name}} {{profile.last_name}}</p>
            <p *ngIf="profile.location">Lives in {{profile.location}}</p>
            <p *ngIf="profile.favourite_sport">loves to play {{profile.favourite_sport}}</p>
            <div>
              <button class="btn btn-custom" matButton *ngIf="!profile.show&&!has_requested&&request_status == 'Add Friend' " (click)="addFriend()">{{request_status}}</button>
              <button class="btn btn-custom" matButton *ngIf="!profile.show&&!has_requested&&request_status == 'Requested' " (click)="undoRequest()">{{request_status}}</button>
              <button class="btn btn-custom" matButton *ngIf="!profile.show&&has_requested" (click)="acceptRequest(email)">{{request_status}}</button>
            </div>
          </div>

          <div ngbDropdown class="mx-sm-3 drop_options order-0 order-sm-2 align-self-start flex-fill d-flex justify-content-end ml-auto" placement = "bottom-right">
            <button class="btn btn-outline-custom ml-auto" id="dropdownBasic1" ngbDropdownToggle>Settings</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="drop-link dropdown-item d-md-none" [routerLink]="['/profile',email]" routerLinkActive="green">My Profile</a>
              <a class="dropdown-item drop-link " routerLink="/editprofile" routerLinkActive="green">Edit Profile</a>
              <a class="dropdown-item drop-link " routerLink="/reset_password" routerLinkActive="green">Change Password</a>
              <a class="drop-link dropdown-item " routerLink="/contact" routerLinkActive="green">Contact Us</a>
              <a class="drop-link dropdown-item " (click)="logout()" routerLinkActive="green">Logout</a>
            </div>
          </div>

        </div>
        <div class="mt-md-2 mt-0">
          <ngb-tabset  orientation="vertical" type="pills" class="d-sm-none">
            <ngb-tab title="Matches" *ngIf="profile.show">
              <ng-template ngbTabContent>
                  <h6 *ngIf="sport.length == 0" class="mt-1"> No matches found , create or join one today. </h6>
                  <div *ngFor = 'let sprt of sport.reverse()' (click)="event(sprt._id)" class="d-flex flex-column card my-3 round-border mr-md-5">
                    <div class="media">
                      <div class="m-0 p-0">
                        <img src={{sprt.image}} class="Generic placeholder image img-fluid max-height rounded-left" alt={{sprt.sport}}>
                      </div>
                      <div class="media-body text mt-auto mb-auto pl-3 pointer">
                        <div (click)="event(sprt._id)" class="align-item-md-start align-item-center">
                          <div class="py-1 heading">{{sprt.sport}}</div>
                          <div class="pb-1 special">{{sprt.date_time | date : 'medium'}}</div>
                          <div class="pb-1 pr-1">At &nbsp;<span class="special">{{sprt.address}}</span></div>
                          <p class="pr-1" *ngIf="sprt.note">P.S :- {{sprt.note}}</p>
                        </div>
                      </div>
                    </div>
                  </div>      
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friends" *ngIf="profile.show">
              <ng-template ngbTabContent>
                <h6 *ngIf="profile.friends.length == 0" class="mt-1">Play more matches add friends</h6>
                <div *ngIf="profile.friends.length > 0" class="mt-1">
                  <div *ngFor="let frnd of profile.friends">
                    <div class="d-flex flex-row align-items-center">
                      <div class="col-md-3 col-5">
                        <img src={{frnd.profile_pic}} width="40px" height="40px" class="rounded-circle m-2">
                        <span (click)="getprofile(frnd.email)" class="pointer">{{frnd.name}}</span>
                      </div>
                      <div class="col-md-1 col-2">
                        <i class="fas fa-user-slash pointer" (click)="unfriend(frnd.email)" *ngIf="profile.private"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friend Request" *ngIf="profile.private">
              <ng-template ngbTabContent>
                <h6 *ngIf="profile.friend_request.length == 0" class="mt-1">No new friend request</h6>
                <div *ngIf="profile.friend_request.length > 0" class="mt-1">
                  <div *ngFor="let frnd of profile.friend_request">
                    <div class="d-flex flex-row align-items-center">
                      <img src={{frnd.profile_pic}} width="40px" height="40px" class="rounded-circle m-2">
                      <div>{{frnd.name}}</div>
                      <i class="ml-5 fas fa-check m-1 text-success pointer" (click)="acceptRequest(frnd.email)"></i>
                      <i class="fas fa-times m-1 text-danger poinetr" (click)="rejectRequest(frnd.email)"></i>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <ngb-tabset class="d-none d-sm-block">
            <ngb-tab title="Matches" *ngIf="profile.show">
              <ng-template ngbTabContent>
                  <h6 *ngIf="sport.length == 0" class="mt-1"> No matches found , create or join one today. </h6>
                  <div *ngFor = 'let sprt of sport.reverse()' (click)="event(sprt._id)" class="d-flex flex-column card my-3 round-border mr-md-5">
                    <div class="media">
                      <div class="m-0 p-0">
                        <img src={{sprt.image}} class="Generic placeholder image img-fluid max-height rounded-left" alt={{sprt.sport}}>
                      </div>
                      <div class="media-body text mt-auto mb-auto pl-3 pointer">
                        <div (click)="event(sprt._id)" class="align-item-md-start align-item-center">
                          <div class="py-1 heading">{{sprt.sport}}</div>
                          <div class="pb-1 special">{{sprt.date_time | date : 'medium'}}</div>
                          <div class="pb-1 pr-1">At &nbsp;<span class="special">{{sprt.address}}</span></div>
                          <p class="pr-1" *ngIf="sprt.note">P.S :- {{sprt.note}}</p>
                        </div>
                      </div>
                    </div>
                  </div>      
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friends" *ngIf="profile.show">
              <ng-template ngbTabContent>
                <h6 *ngIf="profile.friends.length == 0" class="mt-1">Play more matches add friends</h6>
                <div *ngIf="profile.friends.length > 0" class="mt-1">
                  <div *ngFor="let frnd of profile.friends">
                    <div class="d-flex flex-row align-items-center">
                      <div class="col-md-3 col-5">
                        <img src={{frnd.profile_pic}} width="40px" height="40px" class="rounded-circle m-2">
                        <span (click)="getprofile(frnd.email)" class="pointer">{{frnd.name}}</span>
                      </div>
                      <div class="col-md-1 col-2">
                        <i class="fas fa-user-slash pointer" (click)="unfriend(frnd.email)" *ngIf="profile.private"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friend Request" *ngIf="profile.private">
              <ng-template ngbTabContent>
                <h6 *ngIf="profile.friend_request.length == 0" class="mt-1">No new friend request</h6>
                <div *ngIf="profile.friend_request.length > 0" class="mt-1">
                  <div *ngFor="let frnd of profile.friend_request">
                    <div class="d-flex flex-row align-items-center">
                      <img src={{frnd.profile_pic}} width="40px" height="40px" class="rounded-circle m-2">
                      <div>{{frnd.name}}</div>
                      <i class="ml-5 fas fa-check m-1 text-success pointer" (click)="acceptRequest(frnd.email)"></i>
                      <i class="fas fa-times m-1 text-danger poinetr" (click)="rejectRequest(frnd.email)"></i>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="toast" *ngIf="toast"> 
    cannot process your request some internal error occured
  </div>
</div>