/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/modern/modern-dark-theme.css';

html,body{
    box-sizing: border-box;
    height: 100%;
    margin : 0px;
    padding : 0px;
    font-family:  'Karla', sans-serif;
}
.error{
    color : red;
    font-size : 14px;
}
.topHeading {
    font-size : 25px;
    font-weight: 500;
}
.topHeadingLine {
    border : 0;
    height : 2px;
    background-image :  linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.15)); 
}
.pointer{
    cursor: pointer;
}

.btn-custom{
    background-color : #0098fd;
    border-color : #0098fd;
    color : white;
}
.btn-custom:hover {
    background-color: #058ae2;
    border-color : #0098fd;
}
.btn-custom :focus{
    box-shadow: 0 0 0 0.2rem rgba(5, 138, 226, 0.5);
} 
.btn-outline-custom{
    border-color: #0098fd;
    background-color: transparent;
    color: #0098fd;
}
.btn-outline-custom :focus{
    box-shadow: 0 0 0 0.2rem rgba(5, 138, 226, 0.5);
} 
.text-custom {
    color : #0098fd;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (min-width : 0px ) and (max-width : 767px) {
    .topHeading {
        font-size : 20px;
        font-weight: 500;
    }
}