.socioplay{
    font-size: 40px;
    font-weight: 600;
}
.forgot_links{
    color : #0a598d;
    font-size:  12px;
    cursor: pointer;
}
.registration_link{
    color: blue;
    cursor: pointer;
}
.google{
    background-color: #ca1919;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 350px;
}
.facebook{
    background-color : #3b5998;
    color : white;
    border-radius: 5px;
    height: 40px;
    width: 350px;
}

.blue{
    z-index : 2;
    /* background: #0098fd;
    background-color: #0098fd; */
    color : white;
    font-size: 16px;
    min-height: 97%;
    background-color: rgba(255, 255, 255 ,0.40);
}
.up{
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('../../assets/back.jpeg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.footer{
    background: rgb(240, 236, 236);
    color : rgb(156, 151, 151);
    font-size: 14px;
}

.button{
    height : 40px;
    width : 168px;
}

@media screen and (min-width : 0px) and (max-width : 990px){
    .button {
        width : 115px;
    }
    .facebook{
        width : 240px;
    }
    .google{
        width: 240px;
    }
    .up{
        background-image : url('../../assets/adorable-childhood-children-754769-01_2.jpeg');
    }
}
 