<div class="up"></div>
<div class="blue pt-3">

  <!-- Top -->

  <div class="d-flex flex-row container mt-3">
    <div class="socioplay flex-fill text-center text-md-left px-md-5 col-md-6">SocioPlay</div>
    <div class="flex-fill mt-3 d-none d-md-block col-md-6 pl-5">
      <form class="d-flex flex-row"  novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group m-1 flex-fill">
          <input type = "email" class="form-control form-control-sm" formControlName = 'email' placeholder="Email Id">
          <div *ngIf="authError || formError" class="error p-1">{{authError}} {{formError}}</div>
        </div>
        <div class="form-group m-1 flex-fill">
          <input type = "password" class="form-control form-control-sm" formControlName = 'password' placeholder="Password">
          <a routerLink="/forgot_password" class="forgot_links pl-1">forgot password ?</a>
        </div>
        <div>
          <button class="btn btn-custom btn-sm m-1" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

  <!-- About SocioPlay Social Login Button-->

  <div class = "container py-2 py-md-5 px-2 px-md-5 mt-4 mt-md-5">
    <div class="d-flex flex-md-row flex-column">
      <div class="flex-fill d-none d-flex flex-column order-1 order-md-0 mt-4 px-3 mt-md-0 px-md-0 col-12 col-md-6">
        <h6>What is SocioPlay ?</h6>
        <p>
          Socioplay is a communtiy of people , who like to stay fit and healthy. People in socioplay community plan a match
          , meet up at ground , play the sport , and enjoy their lives.
        </p>
        <p>
          Playing a sport is important for our body and mind. It helps in reducing stress , keeps you away from diseases
          , and makes you stronger both physically and mentally . 
        </p>
        <p>
          To help you in playing , SocioPlay let you plan a match whenever you are free , so playing does not disturb your 
          hectic schedules. People can see matches you make and can join them if they too are free . Simple and easy isn't it. 
        </p>
      </div>

      <!-- buttons -->

      <div class="flex-fill d-flex flex-column justify-content-lg-center align-items-center align-items-md-start order-0 order-md-1 col-12 col-md-6 pl-md-5">
        <button class="google btn m-1" (click)="google()"><i class="fab fa-google fa-lg pr-2 ml-md-3"></i>Continue With Google</button>
        <button class="facebook btn m-1" (click)="facebook()"><i class="fab fa-facebook fa-lg pr-2 ml-md-3"></i>Continue With Facebook</button> 
        <div class="d-flex flex-row">
          <button class="btn btn-custom m-1 button ml-md-2" (click)="open(login)">Login</button> 
          <button class="btn btn-custom m-1 button" (click)="open(register)">Signup</button> 
        </div>
      </div>  
    </div>
  </div>

  <!-- Registration Modal -->

  <ng-template #register let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="col-12  d-flex flex-column"  novalidate [formGroup]="regForm" (ngSubmit)="onRegSubmit()">
        <div class="error text-center p-1">
          <div *ngIf = 'regError'>{{regError}}</div>
          <div *ngIf = 'regFormError'>{{regFormError}}</div>
        </div>
        <div class="form-group d-flex flex-row">
          <input type = "text" class="form-control flex-fill" formControlName = 'first_name' placeholder="First name">
          <input type = "email" class="form-control flex-fill" formControlName = 'last_name' placeholder="Last name">
        </div>
        <div class="form-group">
          <input type = "email" class="form-control" formControlName = 'email' placeholder="Email Id">
        </div>
        <div class="form-group">
          <input type = "password" class="form-control" formControlName = 'password' placeholder="Password (atleast 7 character long)">
        </div>
        <div class="form-group">
          <input type = "password" class="form-control" formControlName = 'confirm_password' placeholder="confirm Password">
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <button class="btn align-self-center btn-custom" type="submit">Register</button>
          <div class="loader ml-3" *ngIf="loading"></div>
        </div>
        <div (click)="d('Cross click'); open(login);" class="text-center p-2 forgot_links">
          Already have an account ? login
        </div>
      </form>
    </div>
  </ng-template>
  
  <!-- Login modal -->
  
  <ng-template #login let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="col-12  d-flex flex-column"  novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="error text-center p-1">
            <div *ngIf="authError || formError">{{authError}} {{formError}}</div>
        </div>
        <div class="form-group">
          <input type = "email" class="form-control" formControlName = 'email' placeholder="Email Id">
        </div>
        <div class="form-group">
          <input type = "password" class="form-control" formControlName = 'password' placeholder="Password">
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <button class="btn align-self-center btn-custom" type="submit">Login</button>
          <div class="loader ml-3" *ngIf="loading"></div>
        </div>
        <div (click)="d('Cross click'); open(register);" class="text-center p-2 forgot_links">
          New to socioplay ? register          
        </div>
        <div class="forgot_links text-center">
          <a routerLink="/forgot_password" (click)="d('Cross click');" class="forgot_links pl-1">forgot password ?</a>
        </div>
      </form>
    </div>
  </ng-template>
</div>
<app-footer class="mt-auto"></app-footer>